import(methods)

import(bitops)

import(lpSolve)

import(Matrix)

importFrom("graphics", "axis", "barplot", "legend", "lines", "par", "plot", "polygon", "segments", "text")

importFrom("stats", "qchisq")

importFrom("utils", "flush.console")

import("hommel")

exportClasses(closure, region, DAGstructure, DAG)

exportMethods(summary, show, alpha, "alpha<-", defining, hypotheses, shortlist, pvalue, implications, istwoway)

export(closed, pick, adjusted, pickFisher, pickSimes, curveFisher, curveSimes, pickMeinshausen, curveMeinshausen, regionpick, regionmethod, regionplot, regionplot2, construct, DAGmethod, DAGpick, hommelFast, structuredHolm)
